*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
}

/* MAZE */
.parrentContainer
{
    display: flex;
    justify-content: center;
}

.container
{
    display: inline-block;
    margin: 90px auto;
}

#mazeContainer
{
    margin-top: 20px;
}

.buttons
{
    display: block;
    text-align: center;
}

canvas{
    border: 1px solid black;
}
